.login-container {
    max-width: 250px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .login-container h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .form-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
  }
  
  .submit-button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }
  
  .error-message {
    margin-top: 10px;
    font-size: 20px;
    color: #ff0000;
    text-align: center;
    background-color: #fff;
  }
  
  .signup-link {
    text-align: center;
    margin-top: 15px;
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .signup-link:hover {
    color: #0056b3;
  }
  .both{
    display: flex;
    gap: 20px;
  }